{% extends 'base.html' %}
{% load static %}

{% block page_title %}
  {{ month|title }}
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'challenges/includes/challenge.css' %}">
  <link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">
{% endblock  %}

{% block content %}
  {% include 'challenges/includes/header.html' %}
  <h1> {{ month|title }} </h1>

  {% if text is not None %}
    <h2> {{ text }} </h2>
  {% else %}
    <p class="fallback"> There's no challenge for this month yet! </p>
  {% endif %}
{% endblock content %}